name: Build Jellyfin CN 自动版

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # 自动获取 Jellyfin 最新版本
      - name: Get latest release
        id: version
        run: |
          VERSION=$(curl -sSL https://api.github.com/repos/jellyfin/jellyfin/releases/latest | \
            grep -Po '"tag_name": "\K[0-9]+\.[0-9]+\.[0-9]+')
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 自动构建 + 自动打版本标签 + latest
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          build-args: |
            JELLYFIN_VERSION=${{ env.VERSION }}
          platforms: linux/amd64
          tags: |
            cavon/jellyfin:${{ env.VERSION }}
            cavon/jellyfin:latest
